<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http:// sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/BookStore</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="bookstore.entities.Author"></mapping>
		<mapping class="bookstore.entities.Book"></mapping>
		<mapping class="bookstore.entities.Category"></mapping>
		<mapping class="bookstore.entities.FileAttached"></mapping>
		<mapping class="bookstore.entities.OrderBook"></mapping>
		<mapping class="bookstore.entities.OrderDetail"></mapping>
		<mapping class="bookstore.entities.PublishingHouse"></mapping>
		<mapping class="bookstore.entities.Rating"></mapping>
		<mapping class="bookstore.entities.Review"></mapping>
		<mapping class="bookstore.entities.UserAccount"></mapping>
		<mapping class="bookstore.entities.PayHistory"></mapping>
	</session-factory>
</hibernate-configuration>
